<div class="row">

    <div class="col-md-2">

        <button class="btn btn-danger">
            Click uno
        </button>

    </div>
    <div class="col-md-2">

        <button class="btn btn-light">
            Click uno
        </button>

    </div>
    <div class="col-md-2">

        <button class="btn btn-success">
            Click uno
        </button>

    </div>
    <div class="col-md-2">

        <button class="btn btn-warning">
            Click uno
        </button>

    </div>
    <div class="col-md-2">

        <button class="btn btn-dark">
            Click uno
        </button>

    </div>
</div>
